# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# 编辑器 / IDE
.idea/
.vscode/
*.swp
*.orig

# 系统垃圾
.DS_Store
Thumbs.db
desktop.ini

# 临时文件
*.log
*.tmp
*.bak
